body {
    color: #d9d9d9;
    background-color: #212529;
}


/* Navigation */

.navbar {
    padding: 0;
    margin: 0;
}

.navbar-brand {
    padding: 0;
}

.nav-link {
    color: #d9d9d9;
}


/* Message input */

input, select, #message {
    width: 100%;
    color: #dddddd;
    background-color: #212529;
    border: 1px solid #6c757d;
    border-radius: .25rem;
    padding: 15px;
}

input:focus, #message:focus {
    border: 1px solid #ddd;
    outline: none;
}

.message button {
    color: #d9d9d9;
    border-radius: 25px;
    padding: 4px 25px;
}


/* Profile */

.avatar img{
    width: 60px;
    border-radius: 15px;
}

.nav-avatar {
    width: 30px;
    border-radius: 15px;
}

.profile ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.profile ul li {
    margin: 15px 0;
}

.profile button {
    color: #d9d9d9;
    border-radius: 25px;
}

.fa-heart {
    color: red;
}


/* Posts */

.posts {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.692);
    padding: 0 15px;
    margin-bottom: 25px;
}

.like-btn {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.btn-edit, .btn-save {
    border-radius: 25px;
    padding: 4px 25px;
}

.btn-hide {
    display: none;
}


/* Pagination custom color */

.pagination > li > a
{
    background-color: #fff;
    color: #212529;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover,
.pagination > li > span:hover
{
    color: #fff;
    background-color: #565e64;
    border-color: #565e64;
}

.pagination > .active > a
{
    color: #fff;
    background-color: #565e64 !important;
    border: solid 1px #565e64 !important;
}

.pagination > .active > a:hover
{
    color: #fff !important;
    background-color: #565e64;
    border: solid 1px #565e64;
}

/* Arrows font awesome */
.fa-angle-double-left,
.fa-angle-double-right {
    color: #565e64;
}

.page-arrow:hover > span > i {
    color: #fff;
}
